@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    font-family: 'Noto Sans JS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------------index.html*/


.home{
    background: url('/asset/images/photo-by-markus-winklet-on-unsplash-dk.JPG');  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  
  .home-text{
      font-weight: bold;
      color: #fff;
      border: 1px solid black;
      background-color: rgba(0, 0, 0, 0.5);
      display: inline-block;
      width: 75%;
  }

/*--------------------Cities.html*/

.city-nav{
    width: 13%;
    border: 1px solid black;
    z-index: 9;
    position: fixed;
    background-color: rgba(255, 255, 255 , 0.5);
    font-weight: bold; 
}

.city-nav li a{
    text-decoration: none;
    list-style: none;
    color: black;
}

.cph-logo {
    min-height: 100vh;
    height: auto;
    background-image: url('/asset/images/Photo-by-nick-Karvounis-on-Unsplash-copenhagen.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
  }
  

  .cph-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  .cph-text h3{
      text-align:center;
  }

  .cph-text p{
      padding:10px;
  }

.ros-logo{
    background-image: url('/asset/images/photo-by-andreas-dress-on-unspash-roskilde.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.ros-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.ros-text h3{
    text-align:center;
}

.ros-text p{
    padding:10px;
}


.aah-logo{
    background-image: url('/asset/images/photo-y-steffen-muldbjerg-on-unsplash-min.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.aah-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.aah-text h3{
    text-align:center;
}

.aah-text p{
    padding:10px;
}
  
.ska-logo {
    min-height: 100vh;
    height: auto;
    background-image: url('/asset/images/photo-by-sevak-on-unspalsh-skagen-min.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
  }
  
  .ska-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  .ska-text h3{
      text-align:center;
  }

  .ska-text p{
      padding:10px;
  }

/*---------------things-to-do.index*/

.converter-main{
    height: 100vh;
}

.converter-main button{
    float:right;
}

#map{
    border: 1px solid black;
    height: 400px;
    width: 100%;
}
/* --------------------Footer */

footer{
    color: #fff;
}

.visitor h3 i{
    padding-left: 10px;
}

.social-media{
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}

.social-media li{
    display: inline-block;
    font-size: 2.5rem;
    padding-left: 15px;
    text-decoration: none;
    cursor: pointer;
}
.social-media li a{
    color: #fff;
}

.social-media li a:hover{
    color: rgb(87, 184, 216);
}