@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    font-family: 'Noto Sans JS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------------index.html*/


.home{
    background: url('/photo-by-markus-winklet-on-unsplash-dk.jpg');  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  
  .home-text{
      font-weight: bold;
      color: #fff;
      border: 1px solid black;
      background-color: rgba(0, 0, 0, 0.5);
      display: inline-block;
      width: 75%;
  }

/*--------------------Cities.html*/

.city-nav{
    width: 13%;
    border: 1px solid black;
    z-index: 9;
    position: fixed;
    background-color: rgba(255, 255, 255 , 0.5);
    font-weight: bold; 
}

.city-nav li a{
    text-decoration: none;
    list-style: none;
    color: black;
}

.cph-logo {
    min-height: 100vh;
    height: auto;
    background-image: url('/photo-by-nick-Karvounis-on-unsplash-copenhagen.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
  }
  

  .cph-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  .cph-text h3{
      text-align:center;
  }

  .cph-text p{
      padding:10px;
  }

.ros-logo{
    background-image: url('/photo-by-andreas-dress-on-unspash-roskilde.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.ros-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.ros-text h3{
    text-align:center;
}

.ros-text p{
    padding:10px;
}


.aah-logo{
    background-image: url('/photo-by-kaiison-on-unspash-aarhus.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.aah-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.aah-text h3{
    text-align:center;
}

.aah-text p{
    padding:10px;
}
  
.ska-logo {
    min-height: 100vh;
    height: auto;
    background-image: url('/photo-by-sevak-on-unsplash-skagen.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
  }
  
  .ska-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  .ska-text h3{
      text-align:center;
  }

  .ska-text p{
      padding:10px;
  }

/*---------------things-to-do.index*/


.dropdown{
    float:right;
}

#tourist-headline{
    font-weight: bold;
    text-align: center;
}

#map{
    border: 1px solid black;
    height: 600px;
    width: 100%;
}



.collapsible{
    background-color: #343A40;
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px white solid;
}

.content{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1
}


.box{
    text-align: center;
    margin: 0px auto;
    width: 100%;
    height: 20vh;
    position: relative;
    background-image: linear-gradient(to right, green, yellow);
    border-radius: 10px;
}

.currency{
    display: flex;
    justify-content: center;
    align-items: center;
}

#from_currency::-ms-expand {	
    display: none; 
}
#from_currency{
    -webkit-appearance: none;
    appearance: none;
}

/* This code snippet is borrowred from W3school.com */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/* End of code snippet */

#to_currency, #from_currency{
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
#to_ammount, #from_ammount{
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
}
#to_ammount{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


/* ---------------------contact */

.contact{
    height: 100vh;    
}

/* --------------------Footer */

footer{
    color: #fff;
}

.visitor h3 i{
    padding-left: 10px;
}

.social-media{
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}

.social-media li{
    display: inline-block;
    font-size: 2.5rem;
    padding-left: 15px;
    text-decoration: none;
    cursor: pointer;
}
.social-media li a{
    color: #fff;
}

.social-media li a:hover{
    color: rgb(87, 184, 216);
}


@media screen and (max-width: 800px){
    .home-text{
        width: 100%;
    }
    .city-nav{
        opacity: 0;
    }
    .cph-text{
        width: 100%;
    }
    .ros-text{
        width: 100%;
    }
    .aah-text{
        width: 100%;
    }
    .ska-text{
        width: 100%;
    }
    
    #from_ammount{
        width: 100px;
    }
    #to_ammount{
        width: 100px; 
    }
}