@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    font-family: 'Noto Sans JS', sans-serif;
}

main .index{
    background: grey;
    color: rgb(230, 227, 227);
    font-weight: bold;
    height: max-content;
}

.home h2 {
    text-align: center;
    margin: auto;
    padding-top: 5%;
}

/*--------------------Cities.html*/

.cph-logo{
  background-image: url('/Photo-by-nick-Karvounis-on-Unsplash-copenhagen.jpg');  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.cph-text{
    font-weight: bold;
    color: #fff;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 75%;
}

.ros-log{
    background-image: url('/photo-by-andreas-dress-on-unspash-roskilde.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
  